@model FashionShop.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="col-11 mx-auto pt-0 p-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white text-center" style="height:40px;">
            <h5>Create Product</h5>
        </div>


        <!-- Form Area-->
        <form asp-action="Create" enctype="multipart/form-data" onsubmit="return ValidateForm()">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="btn-group">
                <div class="col-8">
                    <div class="row">
                        <!-- controls section -->


                        <div class="form-group col-6">
                            <label asp-for="MaSP" class="control-label"></label>
                            <input asp-for="MaSP" class="form-control" />
                            <span asp-validation-for="MaSP" class="text-danger"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="TenSP" class="control-label"></label>
                            <input asp-for="TenSP" class="form-control" />
                            <span asp-validation-for="TenSP" class="text-danger"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="MoTa" class="control-label"></label>
                            <input asp-for="MoTa" class="form-control" />
                            <span asp-validation-for="MoTa" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="DonGiaNhap" class="control-label"></label>
                            <input asp-for="DonGiaNhap" class="form-control" />
                            <span asp-validation-for="DonGiaNhap" class="text-danger"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="DonGiaBan" class="control-label"></label>
                            <input asp-for="DonGiaBan" class="form-control" />
                            <span asp-validation-for="DonGiaBan" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="MaDonVi" class="control-label"></label>
                            <select asp-for="MaDonVi" class="form-control" asp-items="ViewBag.DonVi"></select>
                            <span asp-validation-for="MaDonVi" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="MaThuongHieu" class="control-label"></label>
                            <select asp-for="MaThuongHieu" class="form-control" asp-items="ViewBag.ThuongHieu"></select>
                            <span asp-validation-for="MaThuongHieu" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="MaDanhMuc" class="control-label"></label>
                            <select asp-for="MaDanhMuc" class="form-control" asp-items="ViewBag.DanhMuc"></select>
                            <span asp-validation-for="MaDanhMuc" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="MaNhomSP" class="control-label"></label>
                            <select asp-for="MaNhomSP" class="form-control" asp-items="ViewBag.NhomSP"></select>
                            <span asp-validation-for="MaNhomSP" class="text-danger"></span>
                        </div>


                        <div class="form-group col-6">
                            <label asp-for="MaHoSoSP" class="control-label"></label>
                            <select asp-for="MaHoSoSP" class="form-control" asp-items="ViewBag.HoSoSP"></select>
                            <span asp-validation-for="MaHoSoSP" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-4 row">
                    <div class="form-group col-12 justify-content-center align-middle mb-0 pb-0">
                        <img id="PreviewPhoto" src="~/images/@Model.Anh" alt="Logo Image"
                             width="300" height="300" style="border:1px ;margin-top:30px; " />
                    </div>

                    <div class="form-group col-2 pt-0 mt-0">
                    </div>

                    <input type="hidden" asp-for="Anh" id="Anh" value="Error" />

                    <div class="form-group">
                        <span class="text-danger invisible" id="ImageError">Please choose image</span>
                    </div>

                    <div class="form-group col-10 pt-0 mt-0">
                        <div class="custom-file">
                            <input asp-for="ProductPhoto" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Browse Photo</label>
                        </div>
                    </div>
                </div>

            </div>



            <div class="form-group btn-group col-10">
                <div class="col-1"></div>
                <div class="col-5">
                    <input type="submit" value="Create" class="btn btn-primary btn-block" />
                </div>
                <div class="col-5">
                    <a class="btn btn-secondary btn-block" asp-action="index"
                       asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
                </div>
                <div class="col-1"></div>
            </div>

        </form>


    </div>
</div>


  @*      <div class="form-group col-2">
                <label asp-for="DieuKhoanThanhToan" class="control-label"></label>                
            </div>
            <div class="form-group col-3">                
                <input asp-for="DieuKhoanThanhToan" class="form-control" />
                <span asp-validation-for="DieuKhoanThanhToan" class="text-danger"></span>
            </div>

            <div class="form-group col-2">            
            </div>

            <div class="form-group col-2">
                <label asp-for="GhiChu" class="control-label"></label>                
            </div>
            <div class="form-group col-3">                
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>*@




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 

    <script>

        $(".custom-file-input").on("change", function () {

            document.getElementById('ImageError').classList.add("invisible");
            document.getElementById('ImageError').classList.remove("visible");

            var fsize = $(this)[0].files[0].size;

            var fileName = $(this).val().split("\\").pop();

            var fileExt = fileName.split('.').pop();


            var error = IsImageValid(fsize, fileExt);
            if (error != "") {

                document.getElementById('ImageError').innerText = error;
                document.getElementById('ImageError').classList.remove("invisible");
                document.getElementById('ImageError').classList.add("visible");
                return;
            }


            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

            document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0]);

            document.getElementById('Anh').value = fileName;

        });


        function IsImageValid(fsize, fileExt) {

            var error = "";
            error = IsExtensionValid(fileExt);

            if (error != "") {
                return error;
            }

            error = IsFileSizeValid(fsize);
            if (error != "") {
                return error;
            }

            return "";

        }

        function IsExtensionValid(fileExt) {

            if (fileExt != 'jpg' && fileExt != 'png') {
                return "Only Jpeg or Png files are Accepted";
            }

            return "";
        }

        function IsFileSizeValid(fSize) {

            var fSizeInKb = Math.round((fSize / 1024));

            if (fSizeInKb > 100) {
                return "Files Sized over 100 Kb are not Allowed";
            }

            return "";
        }

        function IsImageSelected() {

            if (document.getElementById('Anh').value == 'Error') {
                return "Image Not Selected To Upload";
            }

            return "";

        }

        function ValidateForm() {


            var error = IsImageSelected();
            if (error != "") {

                document.getElementById('ImageError').innerText = error;
                document.getElementById('ImageError').classList.remove("invisible");
                document.getElementById('ImageError').classList.add("visible");
                return false;
            }


            return true;
        }



    </script>


}
